API_ID=25401037
API_HASH=cd18ada813f2988377cff32a7a5104e8
BOT_TOEKN=7282744230:AAHGjeWnHgZQs9s1WcPD3PNvaqUCeBxcrNk
LOG_GROUP_ID=-4560992030
MONGO_DB_URI=mongodb+srv://Ifwarlet54:Ifwarlet54@sakuraxmusic.sdxxk.mongodb.net/?retryWrites=true&w=majority&appName=Sakuraxmusic
OWNER_ID=6893243613
STRING_SESSION=BQGDls0ACurj5BCjPWBwEUHvuA-f61c2rvPStLVsTXKnMFptMErnZ8cAWS7MHpdQAdTRucSvv_Np6cOYDQz5gzga_JRYcE8F4rUHfadXtnDuumP3mW0kBwz7CM1aj8pmRfOOL2kBrdf_0SVPn5TDRDnE_GceyYAlvmEU12OPH9YckEkhLia4JaOM6ouuiCablpSBiYbXu8mV09nxdtstXjk05PUfi52FTDSJXf8CrvQgabDc6Oo84BpIGtcsoyGjDd2dNWeZll00KQ0eTgBkwOetOOopv5RRqgdDbSbfKAoW8hrqMuVkvhyuqLENHbt28okiTf94OVNkmbnMtvvGikJTH-7zfAAAAAGa3ozdAA
